<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link  th:href="@{/css/home.css}"  type="text/css" rel="stylesheet" >

</head>
<body>

<h3 th:if="${username != null}" th:text="${'Current user: ' + username + ' and created at ' + date}"></h3>
<h1>Welcome to the home page</h1>


<br>
<ul class="menu">
<li><a th:if="!${username}" href="/login">Log In</a></li>
    <li><a th:if="${username}" href="/myprofile">myprofile</a></li>
    <li><a th:if="${username}" href="/feed">feed</a></li>
<li> <a th:if="!${username}" href="/signup">Or Sign Up</a> </li>
<li> <a th:if="${username}" href="/logout">Log Out</a> </li>
    <div th:if="${username}"  > All users
        <div th:each = "all : ${all}" class="posts" >
        <a th:text="${all.username}"  th:href="@{'/users/'+${all.id}}"  > id user </a>
        </div>
    </div>
</ul>
<!--th:text="${posts.body}-->
<!--<div th:if="${username}" >-->
<!--<div th:each = "posts : ${posts}" class="posts"  >-->
<!--        <div th:each = "posts : ${posts.getPosts}" class="posts"  >-->
<!--    <h5  th:text="${posts.getBody}" > </h5>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



</body>
</html>